

#pca-sso-button {
	img.msft-icon {
		width: 18px;
		height: 18px;
		margin: 15px 15px 15px 0;
	}

	background: #fff;
	box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0;
	border-color: transparent;
	border-radius: 3px;
	margin-bottom: 12px;
	-webkit-transition: background-color .2s ease-in-out 0s, border-color .2s ease-in-out 0s;
	transition: background-color .2s ease-in-out 0s, border-color .2s ease-in-out 0s;
}


#pca-sso-button:hover {
	background: #F9FAFC;
}

